<a href="https://colab.research.google.com/github/TaeJeong-Park-dev/visual-AI/blob/master/%EC%8B%A4%EC%8A%B5Zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [4]:
def print_val(x):
  print('Type:', type(x))
  print('Shape:', x.shape)
  print('값:', x)
  print('  ')

## rank 1 np array

In [8]:
x = np.array([1,2,3])
print_val(x)

x[0] = 5
print_val(x)

Type: <class 'numpy.ndarray'>
Shape: (3,)
값: [1 2 3]

Type: <class 'numpy.ndarray'>
Shape: (3,)
값: [5 2 3]